/* st-char.css */

/* page */

.st-page {
	position: relative;
	height: 1268px;
	width: 1013px;
}

.st-page.st-initial-state {
	/* initial state */
	display: none;
}

.st-page-bk {
	border: 1px solid red;
	position: absolute;
	top:0;
	left:0;
	height: 1195px;
	width: 920px;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
}

.st-name {
	position: absolute;
	display:inline-block;
	font-size: 10px;
	top: 49px; 
	left: 154px; 
	width: 179px;
	text-align: left;
}

.st-age {
	position: absolute;
	display:inline-block;
	font-size: 10px;
	top: 477px; 
	left: 110px; 
	width: 39px;
	text-align: center;
}

.st-lifepath {
	position: relative;
	font-size: 10px;
	top: 518px; 
	left: 68px; 
	width: 262px;
}

/* border */

.st-section {
	border: 1px solid #ff0000;
}

.st-item {
	border: 1px solid #cc0000;
}

/* .no-border */

.no-border .st-section {
	border: 1px solid transparent;
}

.no-border .st-item {
	border: 1px solid transparent;
}

