/* st-char.css */

/* page */

.st-page {
	position: relative;
	height: 1240px;
	width: 1020px;
}

.st-page.st-page-skills {
	height: 2600px;
}

.st-page.st-page-talents {
	height: 1200px;
}

.st-page-bk {
	position: absolute;
	top:0;
	left:0;
	height: 1195px;
	width: 920px;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
}

.st-elem {
	position: absolute;
	display: inline-block;
	font-size: 14px;
	text-align: center;
}

.st-label {
	text-transform: uppercase;
}

.st-tb th {
	background-color: #000;
	color: #fff;
}

.st-tb th, .st-tb td {
	border: 1px solid #000;
	padding: 2px;
	vertical-align: top;
}

/* name */

.st-name-label {
	top: 4px;
	left: 0px;
	width: 80px;
}

.st-name {
	top: 0px; 
	left: 90px; 
	width: 180px;
}

/* age */

.st-age-label {
	top: 34px;
	left: 0px;
	width: 80px;
}
.st-age {
	top: 30px; 
	left: 90px; 
	width: 180px;
}

/* occupation */

.st-occupation-label {
	top: 64px;
	left: 0px;
	width: 80px;
}
.st-occupation {
	top: 60px;
	left: 90px; 
	width: 180px;
	text-align: center;
}

/* img */

.st-img {
	border: 1px solid #000;
	position: absolute;
	top: 90px;
	left: 0px;
	width: 270px;
	height: 376px;
}

/* lifepath */

.st-lifepath {
	position: relative;
	top: 478px; 
	left: 0px; 
	width: 490px;
}

/* points */

.st-points {
	position: absolute;
	font-size: 14px;
    left: 280px;
    top: 0px;
	width: 730px;
}

.st-points td {
	text-align: center;
}

/* stats */

.st-statistics {
	position: absolute;
	font-size: 14px;
	font-weight: normal;
    top: 54px;
	left: 280px;
	width: 150px;
}

.st-lifepath th,
.st-statistics th,
.st-derivedstatistics th,
.st-points th,
.st-skills th,
.st-skills-desc th,
.st-talents th,
.st-talents-desc th,
.st-equipment th,
.st-weapons th {
	text-align: center;
	text-transform: uppercase;
}

.st-statistics .st-stat {
	text-align: center;
	width: 36px;
}

.st-derivedstatistics {
	position: absolute;
	font-size: 14px;
	font-weight: normal;
	top: 54px;
	left: 440px;
	width: 570px;
}

/* weapons */

.st-weapons {
	position: absolute;
	font-size: 14px;
	left: 280px; 
    top: 310px;
	width: 730px;
}

.st-weapons td {
	text-align: center;
}

/* skills */

.st-skills {
	position: absolute;
	font-size: 14px;
    left: 500px;
    top: 478px;
	width: 242px;
}

.st-skills td.st-skill-lbl {
	width: 370px;
}

.st-skills td.st-skill-val {
	text-align: center;
	width: 100px;
}

.st-skills-desc th, .st-skills-desc td {
	padding: 4px;
}

/* talents */

.st-talents {
	position: absolute;
	font-size: 14px;
    left: 750px;
    top: 478px;
	width: 260px;
}

.st-talents td.st-skill-lbl {
	width: 370px;
}

.st-talents td.st-skill-val {
	text-align: center;
	width: 100px;
}

.st-talents-desc th, .st-talents-desc td {
	padding: 4px;
}

/* equipment */

.st-equipment {
	position: absolute;
	font-size: 14px;
	left: 750px; 
    top: 730px;
	width: 260px;
}

.st-equipment th {
	text-align: center;
}

.st-equipment td {
	text-align: center;
}
