/* st-char.css */

/* page */

.st-page {
	position: relative;
	height: 1268px;
	width: 1013px;
}

.st-page.st-initial-state {
	/* initial state */
	display: none;
}

.st-page-bk {
	border: 1px solid red;
	position: absolute;
	top:0;
	left:0;
	height: 1195px;
	width: 920px;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
}

.st-elem {
	position: absolute;
	display:inline-block;
	font-size: 10px;
}

.st-title {
	top: 52px;
	left: 86px; 
	font-size: 40px;
}

.st-name-label {
	top: 52px;
	left: 86px; 
}

.st-name {
	top: 49px; 
	left: 154px; 
	width: 179px;
	text-align: left;
}

.st-img {
	position: absolute;
	top: 74px;
	left: 72px;
	width: 262px;
	height: 398px;
}

.st-age-label {
	top: 480px;
	left: 76px; 
}
.st-age {
	top: 476px; 
	left: 110px; 
	width: 39px;
	text-align: center;
}

.st-lifepath {
	position: relative;
	font-size: 10px;
	top: 518px; 
	left: 68px; 
	width: 262px;
}

.st-statistics {
	position: absolute;
	font-size: 13px;
	font-weight: normal;
    top: 246px;
	left: 350px;
	width: 150px;
}

.st-lifepath th,
.st-statistics th,
.st-derivedstatistics th,
.st-skills th {
	text-transform: uppercase;
}

.st-statistics .st-stat {
	text-align: center;
	width: 36px;
}

.st-derivedstatistics {
	position: absolute;
	font-size: 13px;
	font-weight: normal;
	top: 246px;
	left: 502px;
	width: 364px;
}

.st-skills {
	position: absolute;
	font-size: 10px;
    left: 346px;
    top: 518px;
	width: 260px;
}

.st-skills td.st-skill-lbl {
	width: 370px;
}

.st-skills td.st-skill-val {
	text-align: center;
	width: 100px;
}


/* border */

.st-section {
	border: 1px solid #ff0000;
}

.st-item {
	border: 1px solid #cc0000;
}

/* .no-border */

.no-border .st-section {
	border: 1px solid transparent;
}

.no-border .st-item {
	border: 1px solid transparent;
}

