/* st-desc.css */

.st-skills-desc th,
.st-stats-desc th,
.st-talents-desc th,
.st-weapons-desc th {
    text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.st-skills-desc th, .st-skills-desc td,
.st-stats-desc th, .st-stats-desc td,
.st-talents-desc th, .st-talents-desc td,
.st-weapons-desc th, .st-weapons-desc td {
	padding: 4px;
}