/* st.css */

* {
	font-family: 'Avalon Regular', sans-serif;
}

p {
	font-family: 'Avalon Regular', sans-serif;
}

body {
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Sci-Fi', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 26px;
}

h4 {
	font-size: 0.8em;
}

button {
	font-family: '04b09', sans-serif;
	text-transform: uppercase;
}
